body,
html,
#app {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'outfit';
  src: url('./Font/Outfit/Outfit-VariableFont_wght.ttf');
}

:root {
  --background: #fff5ec;
  --accent: #fd043c;
  --font: outfit;
  --font-color-dark-blue: #31266e;
  --button-hover-color: #e11b47;
  --card-color: #ffeede;
  --dropdown-color: #ffe4cc;
}

button {
  cursor: pointer;
  border: none;
}

input[type="color"] {
  background-color: var(--font-color-dark-blue);
  padding: 1px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
  width: 92%;
  height: 92%;
}
