body,
html,
#app {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'outfit';
  src: url('./Font/Outfit/Outfit-VariableFont_wght.ttf');
}

:root {
  --background: #fff5ec;
  --accent: #fd043c;
  --font: outfit;
  --font-color-dark-blue: #31266e;
  --button-hover-color: #e11b47;
  --card-color: #ffeede;
  --dropdown-color: #ffe4cc;
}

button {
  cursor: pointer;
  border: none;
}
